// colors ----------//
$btn: #a79faa;
$dark: #353535;
$red: #cc3747;

// media query
@mixin desktop {
  @media (max-width: 1380.98px) {
    @content;
  }
}

@mixin largelaptop {
  @media (max-width: 1199.98px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024.98px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768.98px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 540.98px) {
    @content;
  }
}
